*{
    margin: 0;
    padding: 0;
}
#wrapper{
    height: 300px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}


.dojo_survey{

}

.button{
    background-color: green;
    color: white;
}
